[submodule "vim/submodules/vim-fugitive"]
	path = vim/submodules/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule "vim/submodules/FuzzyFinder"]
	path = vim/submodules/FuzzyFinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
	ignore = dirty
[submodule "vim/submodules/L9"]
	path = vim/submodules/L9
	url = https://github.com/vim-scripts/L9.git
	ignore = dirty
[submodule "vim/submodules/vim-less"]
	path = vim/submodules/vim-less
	url = https://github.com/groenewege/vim-less.git
	ignore = dirty
[submodule "vim/submodules/dbext.vim"]
	path = vim/submodules/dbext.vim
	url = https://github.com/vim-scripts/dbext.vim.git
	ignore = dirty
[submodule "vim/submodules/DirDiff.vim"]
	path = vim/submodules/DirDiff.vim
	url = https://github.com/vim-scripts/DirDiff.vim.git
	ignore = dirty
[submodule "vim/submodules/visualMarks.vim"]
	path = vim/submodules/visualMarks.vim
	url = https://github.com/vim-scripts/visualMarks.vim.git
	ignore = dirty
[submodule "vim/submodules/AutoComplPop"]
	path = vim/submodules/AutoComplPop
	url = https://github.com/vim-scripts/AutoComplPop.git
	ignore = dirty
[submodule "vim/submodules/LargeFile"]
	path = vim/submodules/LargeFile
	url = https://github.com/vim-scripts/LargeFile.git
	ignore = dirty
[submodule "vim/submodules/vbnet.vim"]
	path = vim/submodules/vbnet.vim
	url = https://github.com/vim-scripts/vbnet.vim.git
	ignore = dirty
[submodule "vim/submodules/EnhCommentify.vim"]
	path = vim/submodules/EnhCommentify.vim
	url = https://github.com/vim-scripts/EnhCommentify.vim.git
	ignore = dirty
[submodule "vim/submodules/vim-airline"]
	path = vim/submodules/vim-airline
	url = https://github.com/bling/vim-airline.git
	ignore = dirty
[submodule "vim/submodules/syntastic"]
	path = vim/submodules/syntastic
	url = https://github.com/scrooloose/syntastic.git
